# =============== Общие правила отступов и кодировки ===============
root = true

[*]
indent_style = space          # всегда использовать пробелы, не табуляцию
indent_size = 4               # отступы по 4 пробела (PEP-8)
charset = utf-8               # единая кодировка
trim_trailing_whitespace = true   # обрезать пробелы в конце строк
insert_final_newline = true       # добавлять перевод строки в конце файла
end_of_line = lf                  # использовать Unix-перенос строк

# =============== Для файлов Python ===============
[*.py]
max_line_length = 100
